@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tab {
  height: 50px;
  float: left;
  width: 100px;
  text-align: center;
  color: grey;
  line-height: 50px;
  cursor: pointer;
}

.selectedCategory {
  border-bottom: 2px solid dodgerblue;
  color: dodgerblue;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.tableRow {
  width: 1300px;
  border-radius: 10px;
  height: 50px;
  background-color: white;
  margin-top: 10px;
  border: 2px solid whitesmoke;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.column {
  height: 60px;
  float: left;
  line-height: 60px;
  /*font-family: 'Poppins', sans-serif;*/
  /*font-weight: 300;*/
}

.tableHeaderColumn {
  height: 50px;
  float: left;
  text-align: center;
  color: grey;
}

.filterInput {
  width: 150px;
  height: 32px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin-right: 15px;
}

.tabRow {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border-bottom: 1px solid #cccccc;
  justify-content: space-between;
  display: flex;
}

.imageBackground {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.half {
  height: 100%;
  width: 50%;
  float: left;
}

#tableHeader {
  width: 1300px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #cccccc
}

.wrapText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pageButton {
  height: 50px;
  width: 50px;
  float: left;
}

.activePage {
  height: 30px;
  width: 30px;
  margin: 10px;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

.page {
  height: 30px;
  width: 30px;
  margin: 10px;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  color: grey;
  cursor: pointer;
}

.paginationBar {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

#header {
  width: 100%;
  height: 100px;
  line-height: 90px;
  font-size: 38px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
}

#main {
  width: 1400px;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}

#statsBar {
  width: 100%;
  height: 105px;
  margin-top: 10px;
  justify-content: space-around;
  display: flex;
}

.statCard {
  width: 270px;
  height: 105px;
  box-shadow: 10px 10px 50px #cccccc;
  background-color: white;
  border-radius: 10px;
}

.statTitle {
  position: absolute;
  bottom: 0;
  left: 25px;
  color: gray;
}

.statValue {
  height: 60px;
  width: 100%;
  font-size: 35px;
  margin-top: 3px;
  padding-left: 35px;
}

.chart {
  width: 60%;
  height: 100%;
  float: left;
  padding-top: 15px;
}

.statTitleContainer {
  height: 35px;
  width: 100%;
  position: relative;
}

.idColumn {
  width: 80px;
  color: #215c8d;
}

.sendTimeColumn {
  width: 120px;
}

.userNameColumn {
  width: 150px;
}

.priceColumn {
  width: 110px;
}

.addressColumn {
  width: 210px;
}

.statusColumn {
  width: 230px;
}

.itemsColumn {
  width: 70px;
}

.companiesColumn {
  width: 300px;
}

.updateColumn {
  width: 130px;
}

.checkboxContainer {
  width: 40px;
}

.itemData {
  height: 130px;
  width: 100%;
  padding-left: 140px;
}

.itemTitle {
  font-size: 25px;
  float: left;
  font-family: 'Noto Sans Kawi', sans-serif;
}

.itemPrice {
  font-size: 25px;
  float: right;
  margin-right: 20px;
  font-family: 'Inter', sans-serif;
}

.parameterContainer {
  width: 100%;
  height: 30px;
  float: left;
  margin-top: 15px;
}

.parameterContainer2 {
  float: left;
}

.parameter {
  font-size: 16px;
  color: grey;
}

.size {
  margin-right: 3px;
  font-size: 20px;
}

.itemQuantity {
  font-size: 16px;
  color: grey;
  float: right;
  margin-right: 20px;
}

.slider {
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  position: relative;
}

.slider .progress {
  height: 5px;
  background: #3a3a3a;
  position: absolute;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background: #3a3a3a;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background: #3a3a3a;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.productCategory {
  height: 25px;
  background-color: white;
  border-radius: 50px;
  min-width: 50px;
  padding: 0 4px 0 4px;
  font-size: 14px;
  border: 1px solid #2f333b;
  color: #2f333b;
  float: left;
  margin-right: 5px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
}

.header-column {
  height: 100%;
  align-items: center;
  display: flex;
}

.date-column {
  height: 100%;
  width: 180px;
  align-items: center;
  display: flex;
}

.id-column {
  height: 100%;
  width: 40px;
}

.price-column {
  height: 100%;
  width: 120px;
  align-items: center;
  display: flex;
}

.companies-column {
  height: 100%;
  width: 250px;
  align-items: center;
  display: flex;
}

.status-column {
  height: 100%;
  width: 120px;
  align-items: center;
  display: flex;
}

.address-column {
  height: 100%;
  width: 300px;
  align-items: center;
  display: flex;
}

.products-column {
  height: 100%;
  width: 200px;
  align-items: center;
  display: flex;
  position: relative;
}

.date-receipt-column {
  height: 100%;
  width: 120px;
  align-items: center;
  display: flex;
}

.last-activity-column {
  height: 100%;
  width: 120px;
  align-items: center;
  display: flex;
}

.custom-line {
  margin-right: 20px;
}

.round-100 {
  border-radius: 50px;
}

.product {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  background-color: #cacaca;
}

.custom-select {
  width: 233px;
  height: 48px;
  background-color: white;
  border-style: none;
  padding-left: 10px;
}

.filter-list {
  width: 100%;
  height: 120px;
  border: 2px solid #f2f2f4;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-input {
  height: 50px;
  width: 180px;
  border: none;
  float: left;
}

.lupe-container {
  height: 50px;
  width: 50px;
  float: left;
  cursor: pointer;
}

.stat-container {
  height: 70px;
  width: 130px;
  margin-top: 15px;
  padding: 2px 0 0 10px;
  float: left;
}

.stat-header {
  color: grey;
}

.stat-value {
  font-size: 30px;
}

.custom-vertical-line {
  height: 70px;
  width: 1px;
  border-right: 1px solid grey;
  margin-top: 15px;
  float: left;
}

.stats-list {
  height: 100%;
  width: 660px;
  display: flex;
  justify-content: space-around;
}


.table-header {
  width: calc(100%);
  border-bottom: 2px solid #ebebeb;
  height: 40px;
  display: flex;
  margin: 0 0px 0 0px;
  font-weight: 600;
}

.table-row {
  width: 100%;
  border-bottom: 2px solid #f2f2f4;
  height: 60px;
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #f2f2f4
}

.table {
  width: 100%;
  border: 2px solid #f2f2f4;
  border-radius: 15px;
  margin-top: 25px;
}

.status-column-2 {
  width: 200px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 60px;
}

.status {
  margin-left: 5px;
  color: grey;
}

.unique-products {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  left: 90px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.order-additional-data-container {
  width: 200px;
  height: 50px;
}

.order-additional-data-header {
  width: 200px;
  height: 25px;
  color: #a6a6a6;
}

.order-additional-data-value {
  width: 200px;
  height: 25px;
  font-weight: 600;
}

.order-additional-data {
  height: 50px;
  width: 400px;
  display: flex;
}

.order-details-1 {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.order-details-2 {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.cell {
  width: 240px;
  height: 80px;
}

.cellTitle {
  width: 100%;
  height: 30px;
  color: #36393e;
  font-weight: 600;
}

.cellValue {
  width: 100%;
  height: 50px;
  border: 1px solid #f2f2f4;
  border-radius: 10px;
}

.order-status-list {
  height: 60px;
  width: 682px;
  float: left;
}

.order-status-small {
  height: 60px;
  width: 200px;
  float: left;
}

.order-status-normal {
  height: 60px;
  width: 230px;
  float: left;
}

.order-status-big {
  height: 60px;
  width: 250px;
  float: left;
}

.order-status-time {
  width: 100%;
  height: 17px;
  color: gray;
  align-items: center;
  display: flex;
  font-size: 13px;
}

.order-status-header {
  width: 100%;
  height: 25px;
  color: black;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.complete-order {
  color: #2583EF;
  cursor: pointer;
}

.order-completed {
  color: black;
}

.order-uncompleted {
  color: grey;
}

.custom-status-line-green {
  background-color: #00780C;
  height: 5px;
  width: 210px;
  border-radius: 10px;
  margin-left: 10px;
}

.custom-status-line {
  height: 5px;
  width: calc(100% - 30px);
  border-radius: 10px;
  margin-left: 10px;
}

.order-status-value {
  width: 100%;
  height: 18px;
  color: black;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.custom-dot {
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background-color: #d6d6d6;
}

.header-title {
  font-size: 50px;
}

.header-value {
  font-size: 17px;
}

.mrg-l-5 {
  margin-left: 5px;
}

.slider-container {
  border: none;
  padding-top: 23px;
}
