<div id="main">
  <form [formGroup]="form" (submit)="submit()">

    <div class="header centerHorizontally">
      <div class="noto-sans-jp-bold header-title">Welcome to Store!</div>
      <div class="header-sub-title">Create an account</div>
    </div>

    <div class="inputContainer">
      <label for="username">Username</label>
      <input formControlName="userName" type="text" id="username">
    </div>

    <div class="inputContainer">
      <label for="firstName">First name</label>
      <input formControlName="firstName" type="text" id="firstName">
    </div>

    <div class="inputContainer">
      <label for="lastName">Last name</label>
      <input formControlName="lastName" type="text" id="lastName">
    </div>

    <div class="inputContainer">
      <label for="password">Password</label>
      <input formControlName="password" type="text" id="password">
    </div>

    <button>Sign up</button>
  </form>
  <br>
  <div class="centerHorizontally">
    <span class="centerHorizontally">
      Have already account?
      <span id="signIn" routerLink="/login">
        Sign in
      </span>
    </span>
  </div>
</div>
